body {
    font-family: 'Source Sans Pro', sans-serif;
    background: #fbfbfb;
}
hr {
    opacity: 0.25;
    border-bottom: 2px solid white;
}
.well-sm {
    padding: 8px;
    border-radius: 0;
}
.price, strong, b {
    font-weight: 700;
}
table tbody tr td label {
    margin-bottom: 0;
}
.inv-items {
    width: 100%;
    height: 300px;
    overflow: auto;
    display: block;
}
.offer-text {
    padding: 10px;
	text-align: center;
}
.nav-link {
    font-size: 1.2em;
}
.panel-default > .panel-heading {
    color: #333;
    background-color: #f9f9f9;
    border-color: #ddd;
    box-shadow: 0 1px 2px 0 rgba(60, 60, 60, 0.07),0 2px 6px 2px rgba(60, 60, 60, 0.07);
}
.panel-default {
    box-shadow: 0 1px 2px 0 rgba(60, 60, 60, 0.07),0 2px 6px 2px rgba(60, 60, 60, 0.07);
}
.btn-default {
    font-weight: 600;
}
.inv-items.high {
    height: 420px;
}
.inv-items .well {
    border-radius: 0;
    margin: 0;
}
.inv-item {
    width: 90px;
    height: 80px;
    background: white;
    float: left;
    position: relative;
    margin: 0 0 8px 8px;
    border-radius: 8px;
}
.inv-item[disabled] {
    pointer-events: none;
    opacity: .75;
}
.inv-item[disabled]:before {
    content: '';
    position: absolute;
    left: 0; right: 0;
    top: 0; bottom: 0;
    background: rgba(0, 0, 0, .1);
    z-index: 2;
}
.inv-item:hover {
    cursor: pointer;
}
.inv-item:hover .inv-item--bg {
    background-size: 75%;
}
.inv-item:hover .inv-item--title {
    visibility: visible;
    z-index: 999;
}
.inv-item--uncraft {
    background: #eee;
}
.inv-item--key {
    border: 3px solid gold;
}
.inv-item--strange {
    border: 3px solid #CF6A32;
}
.inv-item--genuine {
    border: 3px solid #4D7455;
}
.inv-item--vintage {
    border: 3px solid #4D7455;
}
.inv-item--weapon {
    border: 3px solid black;
}
.inv-item--bg {
    position: absolute;
    left: 0; top: 0; right: 0; bottom: 0;
    background-position: center center;
    background-size: 70%;
    background-repeat: no-repeat;
}
.inv-item--ke {
    position: absolute;
    top: 5px; left: 5px;
    color: gold;
    font-weight: 700;
    padding: 1px 3px;
    z-index: 2;
    user-select: none;
}
.inv-item--st {
    position: absolute;
    top: 5px; left: 5px;
    color: orange;
    font-weight: 700;
    padding: 1px 3px;
    z-index: 2;
    user-select: none;
}
.inv-item--ge {
    position: absolute;
    top: 5px; left: 5px;
    color: #4D7455;
    font-weight: 700;
    padding: 1px 3px;
    z-index: 2;
    user-select: none;
}
.inv-item--vi {
    position: absolute;
    top: 5px; left: 5px;
    color: #476291;
    font-weight: 700;
    padding: 1px 3px;
    z-index: 2;
    user-select: none;
}
.inv-item--wear {
    position: absolute;
    top: 5px; right: 5px;
    background: rgba(0, 0, 0, .1);
    padding: 1px 3px;
    z-index: 2;
}

.inv-item--price {
    position: absolute;
    bottom: 5px; left: 10px; right: 0;
    text-align: left;
    font-size: 16px;
    font-weight: 700;
    z-index: 2;
    text-shadow: 1px 0 0 #fff, -1px 0 0 #fff, 0 1px 0 #fff, 0 -1px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
    user-select: none;
}
.inv-item--float {
    font-size: 11px;
    color: yellow;
    line-height: 1em;
}
.inv-item--title {
    visibility: hidden;
    width: 100%;
    bottom: 100%;
    background: rgba(0, 0, 0, .8);
    color: #fff;
    font-size: 12px;
    text-align: center;
    padding: 1px 3px;
    position: absolute;
    z-index: 1;
    pointer-events: none;
    line-height: 1em;
    font-weight: bold;
}
.price-item--title {
    width: 100%;
    color: #000;
    text-align: center;
    padding: 1px 3px;
    position: absolute;
    z-index: 1;
    pointer-events: none;
    line-height: 1em;
    font-weight: bold;
}
.inv-item--title:after {
    content: " ";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: rgba(0, 0, 0, .8) transparent transparent transparent;
}
.dropdown-menu a {
    cursor: pointer;
}
.navbar {
    border-radius: 0;
}
.navbar-custom {
    border-color: #e7e7e7;
    border: none;
    border-bottom: #ddd;
    box-shadow: 0 1px 2px 0 rgba(60, 60, 60, 0.07),0 2px 6px 2px rgba(60, 60, 60, 0.07);
    background: url(../img/bg.png) repeat;
}
.navbar-custom .navbar-toggle {
    border-color: #ddd;
}
.navbar-custom .navbar-toggle .icon-bar {
    background-color: #888;
}
.nav-logo {
    width: 160px;
	margin: 5px 20px 5px 5px;
}
.has-avatar {
    padding-left: 60px !important;
}
.img-avatar {
    width: 32px;
    border-radius: 999px;
    position: absolute;
    left: 15px;
    top: 0;
    bottom: 0;
    margin: auto;
}

.metalAdd {
    width: 50%;
    margin-top: 10px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.metalRemove {
    float: right;
    width: 50%;
    margin-top: 10px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.inv-items .alert {
    border-radius: 0;
}

footer.footer {
    border-top-width: 1px;
    border-top-style: solid;
    padding: 15px 0;
    width: 100%;
}
